In [1]:
import pandas as pd

In [7]:
dt = pd.read_csv("dados.csv", sep=",")

In [2]:
dataset = pd.DataFrame({
    'Sexo': ['H', 'M', 'M', 'M', 'M', 'H', 'H', 'H', 'M', 'M'],
    'Idade': [53, 72, 54, 27, 30, 40, 58, 32, 44, 51]
})

In [3]:
dataset.Idade.mean()

46.1

In [5]:
dataset.groupby('Sexo').mean().reset_index()

  Sexo      Idade
0    H  45.750000
1    M  46.333333

In [9]:
classes = [dt.Altura.min(), 1.65, 1.75, dt.Altura.max()]
labels = ['1 - Baixa', '2 - Média', '3 - Alta']

frequencia_altura = pd.value_counts(
    pd.cut(
        x = dt.Altura,
        bins = classes,
        labels = labels,
        include_lowest = True
    )
)

percentual_altura = pd.value_counts(
    pd.cut(
        x = dt.Altura,
        bins = classes,
        labels = labels,
        include_lowest = True
    ), normalize = True
) * 100

dist_freq_altura = pd.DataFrame(
    {'Frequência': frequencia_altura, 'Porcentagem (%)': percentual_altura}
)

dist_freq_altura.rename_axis('Estaturas', axis= 'columns', inplace = True)

dist_freq_altura.sort_index(ascending = True, inplace = True)

dist_freq_altura

Estaturas  Frequência  Porcentagem (%)
1 - Baixa       20529        26.716554
2 - Média       36162        47.061426
3 - Alta        20149        26.222020